.img {
    padding-top: 30vh;
    height: 300px;
    margin: auto;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 50px;
    background-color: #ccc;
}
